DISCORD_TOKEN=MTUwNjM4ODkwNTYzMTU0NzQ3Mw.GZawTg.bMRaEuDq83DADrh72KNU5LFc2CMLKsU91iMguQ
DATABASE_PATH=./data/sniperplug.sqlite3

# Optional: set this to your test server ID so slash commands sync instantly there.
DEV_GUILD_ID=1232631147649830992
